body {
  font-family: 'Chango', cursive;
}

.main {
  width: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  margin-top: 50px;
}

a {
  color: white;
  text-decoration: none;
}

.group4 {
  color: red;
  background-color: rgba(255, 255, 255, 0.7);
}
.group3{
  background-color: rgba(255, 255, 255, 0.7);
}

.pewpew{
  color:red;
}
