h1{
  color:red;
  font-size: 350%
}
body{
  background-color: #2DA6D7;
}
h2{
  color:purple;
  font-size: 300%;
}
h3{
  color:yellow;

}

img {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
