html {
  background-color: teal;
  font-size: 200%;
}

h3 {
  color: yellow;
  font-size: 150%;
  font-style: bold;
  border-style: solid;
}

h1 {
  color: yellow;
  font-size: 150%;
  font-style: bold;
  border-style: solid;
}
